.title{
	padding-top: .5em;
	padding-left:1em;
}

.slogan{
 padding-left: 3.4em;
 font-weight: italic;
 font-size: 16px;
}

.bandeau-information{
	position:fixed;
	float:left;
	background-color:white;
	z-index:3;
	width:100%;

}

ul.menu-info{
	display:inline-block;
}

.menu-info-item{
	float:left;
	padding-left:.5em;
	margin-right:.5em;
	list-style-type:none;
}

.description{
	padding-left: 3em;
	padding-top: 1em;
	padding-bottom: 1em;
	
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #C75ACE;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

#container {
  padding: 2em auto;
}

svg{
	padding: 1em auto;
}

.container{
	padding-top:16em;
	z-index: 1;
}

